<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}">
	<meta charset="utf-8">
</head>

<body>

	<div th:insert="~{fragments/body :: headline (txt='nun kannst du loslegen !!!' )}"></div>
	<!-- 		<div th:insert="~{fragments/body :: nav (all=true)}"></div> -->

	<section class="container">
		<div class="section-title h5">deine chats mit</div>

		<br>
		<table class="table table-hover table-bordered table-sm" th:if="${listAllChats != null}">
			<tbody>
				<tr th:each="chat : ${listAllChats}">
					<td class="align-middle">
						<div th:name="modelAttr">
							<span th:text="${chat.chatWith}"></span>
						</div>
					</td>
					<td>
						<form th:action="@{/posts(from=${fromUser},to=${chat.chatWith}) }" method="post">
							<input type="submit" class="btn btn-outline-primary btn-sm" value="quatschen mit">
						</form>
					</td>
					<td>
						<form th:action="@{/deleteChat(from=${fromUser},to=${chat.chatWith}) }" method="post">
							<input type="submit" class="btn btn-outline-danger btn-sm" value="löschen">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</section>

	<br>
	<div th:insert="~{fragments/footer :: footer}"></div>

</body>

</html>