<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}">
	<meta charset="utf-8">
</head>

<body>
	<div class="container">
		<br>
		<header>
			<h6 class="text-center">oops!!! ...</h6>
		</header>
		<br>
		<div class="text-center">
			<h3>error</h3>
			<h5 th:text="${errorCode}">XXX</h5>
			<p th:utext="${errorMessage}">fehlermeldung</p>
			<a href="/" th:href="@{/}">zurück auf anfang</a>
		</div>
	</div>
</body>

</html>