<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>EvaSpringChatApp</title>

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/mystyle.css"
	th:href="@{/css/mystyle.css}" media="screen">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
	integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
	crossorigin="anonymous"></script>

</head>

<body>
	<header>
		<h1>Isolation Level Test</h1>
	</header>
	<main>
		<article>

			<p>bitte den Button druecken, zwei mal kurz hintereinander, oder
				in zwei verschiedenen Browsern</p>
		</article>

		<aside>
			<section>
				<h2>Test</h2>
				<ul>
					<li><a href="http://localhost:8080/start">hier druecken</a></li>
				</ul>
			</section>

		</aside>
	</main>

	<footer> </footer>
</body>

</html>