<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}">
<meta charset="utf-8">
</head>
<body>

	<div
		th:insert="~{fragments/body :: headline (txt='viel spass beim chatten !!!' )}"></div>
	<div th:insert="~{fragments/body :: nav (all=false)}"></div>

	<div class="container">
		<h5>
			<span th:text="${'quatschen mit ' +  toUser}">PLACEHOLDER</span>
		</h5>
		<!--<div id="show"></div>-->
		<table th:if="${listAllPosts != null}"
			class="table table-hover table-bordered table-fixed">
			<thead>
				<tr>
					<th scope="col">post &nbsp; <i
						class="fas fa-arrow-circle-right"></i>
					</th>
					<th scope="col">post &nbsp; <i
						class="fas fa-arrow-circle-left"></i>
					</th>
					<th scope="col">zeit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="post : ${listAllPosts}">
					<div th:if="${post.type.equals('out')}">
						<td class="word-wrap" th:text="${post.content}">nix</td>
						<td></td>
					</div>
					<div th:if="${post.type.equals('in')}">
						<td></td>
						<td class="word-wrap" th:text="${post.content}">nix</td>
					</div>
					<td th:text="${post.timestamp}">nix</td>
				</tr>
			</tbody>
		</table>
		<h5>dein post</h5>
		<form th:action="@{/add(to=${toUser}) }" method="post">
			<input class="form-control" type="text" name="pcontent" minlength="1"
				maxlength="255"> <br> <input type="submit"
				class="btn btn-outline-primary btn-sm" value="dein posting">
		</form>
	</div>
	<br>
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>
