<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<body>
	<div class="container ml-5 mr-5">
		<div th:fragment="headline (txt)">
			<div class="container px-5">
				<br>
				<header>
					<h5 class="text-center">
						hi <span th:if="${fromUser != null}" th:text="${fromUser}"></span>
						:: <span th:if="${txt != null}" th:text="${txt}"></span>
					</h5>
				</header>
				<br>
			</div>
		</div>

		<div th:fragment="nav (all)">
			<div class="container">
				<nav class="navbar navbar-expand-md navbar-light bg-light px-2">
					
					<a class="navbar-brand px-2">EvaChatApp</a>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#thenavbarDefault" aria-controls="thenavbarDefault" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

						<div class="collapse navbar-collapse justify-content-end" id="thenavbarDefault">
							<ul class="navbar-nav">
								<li class="nav-item navbar-nav p-1" th:if="${all == true}">
									<form class="form-inline" th:action="@{/newchat}" method="post">
										<input type="hidden" id="nid" name="nid">
										<input type="submit" class="btn btn-outline-primary" value="neuer chat">
									</form>
								</li>
								<li class="nav-item navbar-nav p-1" th:if="${all == true}">
									<form th:action="@{'/users/' + ${currentUser.id}}" method="post">
										<input type="submit" class="btn btn-outline-secondary" value="meine daten">
									</form>
								</li>
								<li class="nav-item navbar-nav p-1"
									th:if="${all == true and #strings.toString(currentUser.user.role) == 'ADMIN'}">
									<form th:action="@{/users/managed}" method="post">
										<input type="submit" class="btn btn-outline-secondary"
											value="verwaltete nutzer">
									</form>
								</li>
								<li class="nav-item navbar-nav p-1" th:if="${all != true}">
									<form th:action="@{/first}" method="post" onsubmit="myStopFunction()">
										<input type="hidden" name="fromUser" id="fromUser"
											th:value="${currentUser.nickname}">
										<input type="submit" class="btn btn-outline-dark" th:value="fertig">
									</form>
								</li>
								<li class="nav-item navbar-nav p-1" th:if="${currentUser != null}">
									<form th:action="@{/logout}" method="post" onsubmit="myStopFunction()">
										<input type="submit" class="btn btn-outline-success" value="ausloggen">
									</form>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div><br>
		</div>

		<div th:fragment="greeting (all)">
			<div class="container">
				<h5>hi <span th:if="${fromUser != null}" th:text="${fromUser}">unbekannte
						/ unbekannter</span></h5>
				<div>was kann ich fuer dich tun ?</div><br>
			</div>
		</div>
</body>

</html>