<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<body>

	<div th:fragment="headline (txt)">
		<div class="container">
			<br>
			<header>
				<h5 class="text-center">
					hi <span th:if="${fromUser != null}" th:text="${fromUser}"></span>
					:: <span th:if="${txt != null}" th:text="${txt}"></span>
				</h5>
			</header>
			<br>
		</div>
	</div>

	<div th:fragment="nav (all)">
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-light bg-light">

				<a class="navbar-brand">EvaChatApp</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#thenavbarDefault" aria-controls="thenavbarDefault" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="thenavbarDefault">
					<ul class="navbar-nav">
						<li class="nav-item p-1" th:if="${all != true}">
							<form th:action="@{/start?from=marga}" method="post">
								<input type="submit" class="btn btn-outline-dark" th:value="fertig">
							</form>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<br>
	</div>

	<div th:fragment="greeting (all)">
		<div class="container">
			<h5>
				hi <span th:if="${fromUser != null}" th:text="${fromUser}">unbekannte
					/ unbekannter</span>
			</h5>
			<div>was kann ich fuer dich tun ?</div>
			<br>
		</div>
	</div>
	</div>

</body>

</html>