<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: head}">
	<meta charset="utf-8">
</head>

<body>
	<div class="container">
		<br>
		<header>
			<h6 class="text-center">403 error</h6>
			<h6 class="text-center">AccessDeniedException</h6>
		</header>
		</div>
		<div class="container text-center">
		<br> 
			<a href="/" th:href="@{/login}" >zum anfang</a>
	</div>
</body>
</html>
