<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/mystyle.css"
	th:href="@{/css/mystyle.css}" media="screen">

<title>Die Alternative Applikation</title>

</head>

<body>

	<div class="container">
		<br>
		<header>
			<h4 class="text-center">Die Alternative Applikation</h4>
			<h6 class="text-center">trau dich !!!</h6>
		</header>
		<br>

		<nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
			<a class="navbar-brand px-2">EvaChatApp</a> <a class="navbar-nav p-1">
				<!--  <form action="/add?to=marga" method="post"> 
				<form action="/add?to=marga" method="post"> -->
				<form action="http://localhost:8080/add" method="post">
					<input type="hidden" name="to" value="marga"> <input
						type="hidden" name="pcontent" value="5678 :: reingelegt!!!">
					<input type="submit" class="btn btn-outline-primary"
						value="aber zurueck zum chat geht es hier">
				</form>
			</a>
		</nav>

		<br> <img src="http://localhost:8080/add?to=marga&pcontent=haha">
		<br>
		<h6>
			<span th:if="${currentUser != null}"
				th:text="${fromUser} + ' quatschen mit ' +  ${toUser}">unser
				service ist der beste</span>
		</h6>

		<div></div>
	</div>

	<div class="container">
		<div class="bg-light p-2">
			<footer>
				<small>&copy; AltXYZapp CoKG, Copyright (c): xyz, 2024 </small>
			</footer>
		</div>
	</div>
</body>
</html>