<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<br>
	<title>EvaSpringChatApp</title>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/mystyle.css" th:href="@{/css/mystyle.css}" media="screen">

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			var req = new XMLHttpRequest();

			req.open('GET', 'http://localhost:9090/users/1', true);
			req.onreadystatechange = function () {
				if (req.readyState === 4) {
					console.log(req.responseText);
				}
			};
			req.send();
		})
	</script>
</head>

<body>

	<div class="container">
		<h1>EvaChatApp with CORS Problem</h1>
		<br>
	</div>

	<div class="container">
		<div class="bg-light p-2">
				<footer>
					<small>&copy; EvaSpringChatApp CoKG, Copyright (c): Wng
						Pstr, 2024 </small>
				</footer>
			</div>
	</div>
</body>

</html>