<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}">
	<meta charset="utf-8">
</head>

<body>

	<div th:insert="~{fragments/body :: headline (txt='was kann ich für dich tun?' )}"></div>
	<div th:insert="~{fragments/body :: nav (all=false)}"></div>

	<div class="container">
		<!-- <div id="show"></div> -->

		<h5>gebe neuen kontakt ein ...</h5>
		<form th:action="@{/newchat}" method="post">
			<div class="error">
				<input class="form-control" type="text" name="nid"> <br>
				<input type="submit" class="btn btn-outline-primary" value="neuer chat">
				<span class="error text-danger" th:if="${error != null}" th:text="${error}">ERROR_PLACEHOLDER</span>
			</div>
		</form>

		<br>
		<h5>alle deine chats</h5>
		<ul class="list-group">
			<li th:each="chat : ${listAllChats}" class="list-group-item"><label th:text="${chat.chatWith}">chat</label>
			</li>
		</ul>
	</div>

	<br>
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>