<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}">
	<meta charset="utf-8">
</head>

<body onload="first()" onbeforeunload="return myStopFunction()">
	<script>
		var jsuser = "[[${toUser}]]";

		function refreshPage() {
			console.log(" refreshPage " + jsuser);
			$('#show').load(
				"posts2?to=" + jsuser)
		}

		function first() {
			refreshPage();
			console.log(jsuser);
			myTimer = setInterval(refreshPage, 5000);
		}

		function myStopFunction() {
			clearInterval(myTimer);
		}

	</script>

	<div th:insert="~{fragments/body :: headline (txt='viel spass beim chatten !!!' )}"></div>
	<div th:insert="~{fragments/body :: nav (all=false)}"></div>

	<div class="container">
		<h5>
			<span th:text="${'quatschen mit ' +  toUser}">PLACEHOLDER</span>
		</h5>

		<div id="show"></div>

		<h5>dein post</h5>
		<form th:action="@{/add(to=${toUser}) }" method="post">
			<input class="form-control" type="text" name="pcontent" minlength="1" maxlength="255"> <br>
			<input type="submit" class="btn btn-outline-primary btn-sm" value="dein posting">
		</form>
	</div>
	<br>
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>