<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/header :: head}">
	<meta charset="utf-8">
</head>

<body>

	<div th:insert="~{fragments/body :: headline (txt='deine nutzerdaten' )}"></div>
	<div th:insert="~{fragments/body :: nav (all=false)}"></div>

	<div class="container">
		<!-- <table class="table table-hover table-bordered table-fixed"> -->
		<table class="table table-hover table-bordered table-sm">
			<thead class="thead-light">
				<tr>
					<th colspan="2">nutzerdetails</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>nickname</td>
					<td th:text="${user.nickname}">phoneno</td>
				</tr>
				<tr>
					<td>email</td>
					<td th:text="${user.email}">email</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>